.new-wiki-page {
  .new-wiki-page-slug-tip {
    display: inline-block;
    max-width: 100%;
    margin-top: 5px;
  }
}

.wiki-history,
.wiki-page,
.edit-wiki-page {
  margin-right: $gutter-width;
}

.edit-wiki-page {
  @media only screen and (min-width: map-get($grid-breakpoints, lg) + (2 * $gutter-width)) and (max-width: map-get($grid-breakpoints, lg) + (3 * $gutter-width)) {
    margin-right: $gutter-width * 1.5;
  }
}

.wiki-form {
  .edit-wiki-page-slug-tip {
    display: inline-block;
    max-width: 100%;
    margin-top: 5px;
  }
}

.title .edit-wiki-header {
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 7px;
}

.container-fluid.wiki-page,
.container-fluid.edit-wiki-page {
  width: initial;
}

.wiki-history.breadcrumbs {
  min-height: (2 * $gl-padding) + 22;
}

.wiki-page-header {
  position: relative;

  .wiki-breadcrumb {
    border-bottom: 1px solid $white-normal;
    padding: 11px 0;
  }

  .wiki-page-title {
    margin: 0;
    font-size: 22px;
  }

  .wiki-last-edit-by {
    display: block;
    color: $gl-text-color-secondary;

    strong {
      color: $gl-text-color;
    }
  }

  .light {
    font-weight: $gl-font-weight-normal;
    color: $gl-text-color-secondary;
  }

  .git-clone-holder {
    .input-group-prepend,
    .input-group-append {
      background-color: transparent;
    }
  }

  button.sidebar-toggle {
    position: absolute;
    right: 0;
    top: 11px;
    display: block;
  }

  &.has-sidebar-toggle .git-access-header {
    padding-right: $sidebar-toggle-width;
  }

  @include media-breakpoint-up(md) {
    &.has-sidebar-toggle {
      padding-right: 0;
    }

    button.sidebar-toggle {
      display: none;
    }
  }
}

.wiki-git-access {
  margin: $gl-padding 0;

  h3 {
    font-size: 19px;
    font-weight: $gl-font-weight-normal;
    margin: $gl-padding 0;
  }
}

.right-sidebar.wiki-sidebar {
  padding: 0;

  &.right-sidebar-collapsed {
    display: none;
  }

  .sidebar-container {
    padding-bottom: $gl-padding;
    width: calc(100% + 100px);
    padding-right: 100px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .blocks-container {
    padding: 0 $gl-padding;
  }

  a {
    color: $layout-link-gray;

    &:hover,
    &.active {
      text-decoration: none;

      span {
        text-decoration: underline;
      }
    }
  }

  .active > a {
    color: $black;
  }

  ul.wiki-pages,
  ul.wiki-pages li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul.wiki-pages li {
    margin: 5px 0 10px;
  }

  ul.wiki-pages ul {
    padding-left: 15px;
  }

  .wiki-sidebar-header {
    padding: $gl-padding;

    .gutter-toggle {
      margin-top: 0;
    }
  }
}

ul.wiki-pages-list.content-list {
  a {
    color: $blue-600;
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 15px;

    li {
      padding: 5px 0;
    }
  }
}
