- page_title _('Start a Free Trial')

%h3.center.pt-6
  = _('Almost there')

%p.center
  = _('You can apply your Trial to your Personal account or create a New Group.')

= render 'errors'

= form_tag apply_trials_path, method: :post do
  .form-group
    = label_tag :namespace_id, _('This subscription is for'), for: :namespace_id, class: 'col-form-label'
    = select_tag :namespace_id, namespace_options_for_select, class: 'select2', required: true
  #group_name.form-group.hidden
    = label_tag :new_group_name, _('New Group Name'), for: :new_group_name, class: 'col-form-label'
    = text_field_tag :new_group_name, nil, class: 'form-control'
  = submit_tag _('Start your free trial'), class: 'btn btn-success btn-block'

= render 'skip_trial'
